<html lang="en">

<head>
    <%- include('../partials/head') %>
        <!-- <link rel="stylesheet" href="css/nav.css"> -->
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        min-height: 70vh;
    }
</style>

<body>
    <%- include('../partials/nav.ejs', {user:user}) %>

        <% allTickets.forEach(ticket=> { %>
            <% if (ticket.status==="pending" ) { %>
                <%- include('../partials/resolverTicket.ejs', {ticket}) %>
                    <% } %>
                        <% }) %>
       

         <script>
            document.body.addEventListener("click", async (e) => {
                console.log(e.target.id, "=id");
                console.log(e.target.innerText, "=text");
                if (e.target.innerText === "Open") {
                    try {
                        const res = await fetch(`/admin/ticket/resolve/${e.target.id}`, {
                            method: 'put',
                        });
                        // console.log('%chome.ejs line:37 res', 'color: #007acc;', await res.json());
                        const ticket = await res.json()
                        document.getElementById(e.target.id).remove()
                        // e.target.innerText="Close-Ticket";
                    } catch (error) {
                        res.end(error)
                    }
                }
            });
        </script>
                        
</body>

</html>