<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <form class="login-form" action="/login" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password">
                </div>
                <% if (locals.error) { %>
                    <p class="error"><%= error %></p>
                <% } %>
                <div class="form-link">
                    <button type="submit">Login</button>
                </div>
            </form>
            <div class="form-link">
                <p>Don't have an account? <a href="/register">Register</a></p>
            </div>
        </div>
    </div>
</body>
</html>
